@font-face {
  font-family: "Golos";
  font-weight: 400;
  src: url('../fonts/Golos.ttf') format('truetype');
}

@font-face {
  font-family: 'Golos';
  font-weight: 500;
  src: url('../fonts/Golos-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Golos-text';
  font-weight: 400;
  src: url('../fonts/Golos-text.ttf') format('truetype');
}

@font-face {
  font-family: "Road-radio";
  font-weight: 700;
  src: url('../fonts/Roadradio.otf') format('truetype');
}

@font-face {
  font-family: "Akzidenzgroteskpro";
  font-weight: 400;
  src: url('../fonts/Akzidenzgroteskpro.ttf') format('truetype');
}

@font-face {
  font-family: "Road-radio";
  font-weight: 400;
  src: url('../fonts/Road-radio.ttf') format('truetype');
}