:root {
  --white: #ffffff;
  --text: #797986;
  --sub-title: #797986;
  --accent: #BF2738;
  --accent-hover: #CC2A3C;
  --red-salsa: #F23147;
  --bright-gray: #EAEAEA;
  --dark: #262633;
  --bg-grey: #F5F5F5;
}